<h2>Products</h2>

<div>
  <button [routerLink]="['/products/add']">Ajouter un product</button>
</div>

<div *ngFor="let product of products | async">
  <h3>
    <a [title]="'Détail de : ' + product.name" [routerLink]="['/products', product.id]">{{ product.name }}</a>
  </h3>

  <button [routerLink]="['/products/update', product.id]">Modifier</button> <button [title]="'Supprimer produit : ' + product.name " (click)="onDelete(product.id)">Supprimer</button>
</div>
