<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Nom
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="description">
      Description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <div>
    <label for="wtPrice">
      Prix HT :
    </label>
    <input id="wtPrice" type="text" formControlName="wtPrice">
  </div>

  <div>
    <label for="taxInclPrice">
      Prix TTC :
    </label>
    <input id="taxInclPrice" type="text" formControlName="taxInclPrice">
  </div>

  <div>
    <label for="categoryId">
      Categorie ID :
    </label>
    <input id="categoryId" type="text" formControlName="categoryId">
  </div>

  <button class="button" type="submit">Ajouter</button>

</form>
