<h2>Product Details</h2>

<div *ngIf="product | async as product">
  <h3>{{ product.name }}</h3>
  <h5>{{ product.price | currency }}</h5>
  <p>{{ product.description }}</p>
  <p>Catégorie : {{ product.categoryName }}</p>

  <button [routerLink]="['/product/update', product.id]">Modifier</button> <button (click)="onDelete()">Supprimer</button>

</div>
